---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Alex Abushady" description="About Alex Abushady's background.">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about me and my background."
			>
				<!-- <img
					width="1553"
					height="873"
					src=""
					alt=""
				/> -->
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						As you may have gathered by now, my name is Alex Abushady; I am currently working as a Software Engineer for MSI. At my time with MSI I've seen the company grow from a small team with just 3 developers (myself included) into a much larger force with 50+ developers across multiple teams. As you'd imagine in that time I've learned how to maneuver in both a small start-up environment, as well as a larger more restrictive environment that comes with being in a more seasoned publically traded company.
					</p>
					<br />
					<p>
						In recent times, I've taken a shine to LLMs, not only for the utility that can come from having a sounding board and quick way to iterate on ideas, but also for having a customizable, personalized assistant that can be used for leisure just as much as it can be used for work. My passion is to create a model that can handle a wide range of tasks for work, while still being friendly, social, and, most importantly, fun to interact with. Because if not, then what was the point of it all?
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<ul>
						<li>C#</li>
						<li>Python</li>
						<li>JavaScript</li>
						<li>TypeScript</li>
						<li>T-SQL</li>
						<li>ASP.NET MVC</li>
						<li>API Development</li>
						<li>Web Application Development</li>
						<li>Azure DevOps</li>
						<li>Git</li>
						<li>LLM Fine-tuning</li>
						<li>LLM Merging</li>
						<li>Dataset Curation</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	.content ul {
		columns: 2;
		column-gap: 1.5rem;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
