---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

import BlogPreview from '../components/BlogPreview.astro';
import { getPublishedPosts } from '../utils/collections';

const blogPosts = await getPublishedPosts();
---

<BaseLayout
	title="Blog | Alex Abushady"
	description="Follow Alex's development journey and project insights"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Development Blog"
				tagline="Follow my development journey, project updates, and technical insights."
				align="start"
			/>
			<Grid variant="offset">
				{
					blogPosts.map((post) => (
						<li>
							<BlogPreview post={post} headingLevel="h2" />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>