---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="app-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack Engineer</h2>
		<p>Whether it's front-end or back-end code, I love jumping in and creating impactful solutions.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="robot" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>LLM Fine-tuning and Development</h2>
		<p>I have experince working with and implementing LLMs in a variety of ways.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Solutions Oriented</h2>
		<p>I get joy from finding lasting and impactful solutions that optimize and streamline processes for others.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
